:root{
	--main-use-bg-color: #363636;
	--main-unuse-bg-color: #272727;
	--main-accent-bg-color: #171717;
	--main-filler-color: #747474;
	--accent-color-1: #FF652F;
	--accent-color-2: #FFE400;
	--accent-color-3: #14A76C;
	--main-txt-color: #dbdbdb;
	--main-interactive-color: #5d11c7;
	--main-font: 'Roboto', sans-serif;
	--title-font: 'Lato', sans-serif;

	--nav-height:  3em;
	--footer-height: 3em;
}



* {
	padding: 0px;
	margin: 0px;
	font-family: var(--main-font);
	position: relative;
	box-sizing: border-box;
	font-size: 20px;
	
}
a {
	color: inherit;
}

.footer {
	box-sizing: border-box;
}
/**
	-------------------------------------------------------
*/
body{
	background-color: var(--main-unuse-bg-color);
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

.center {
  text-align: center;
}

.papire {
	background: url("/dndiberia/assets/mainAssets/textura_papiro.jpg") no-repeat center center fixed;
}

/* NAV */
nav {
	background-color: var(--main-accent-bg-color);
	width: 100%;
	height: var(--nav-height);
	position: fixed;
	z-index: 9;
}

nav * #navIconSpace {
	float: left;
	width: 10%;
	height: var(--nav-height);
	background-color: inherit;
}

#navIconSpace img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	display: block;
	margin: auto;
}

nav * #navLinkBar {
	width: 80%;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: stretch;
	float: left;
}

#navLinkBar .navComponent {
	
	flex-grow: 1;
	cursor: pointer;
}
#navLinkBar .navComponent a{
	background-color: transparent;
	text-align: center;
	line-height: 3em;
	height: 100%;
	display: block;
	margin: auto;
	text-decoration: none;
	color: var(--main-txt-color);
	font-weight: bold;
	transition: color 0.5s;
}
#navLinkBar .navComponent a:hover{
	color: var(--accent-color-1);
	transition: color 0.5s;
}
#navLinkBar #navActivo *{
	color: var(--accent-color-2);
}
nav * #navUserBar {
	float: right;
	width: 10%;
	height: var(--nav-height);
	color: var(--main-interactive-color);
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}
#navUserBar div{
	flex-grow: 1;
	display: block;
	margin: auto;
}
#navUserBar #navUserIcon {
	flex-grow: 2;
}
#navUserBar div a {
	display: block;
	margin-top: auto;
  margin-left: auto;
	font-size: 0.7em;
	text-align:center;
	text-decoration: none;
}
#navUserBar div a:first-child{
	margin-top:  20%;
}
#navUserBar div img{
	width: auto;
	height: var(--nav-height);
	object-fit: contain;
	display: block;
	margin: auto;
}
/* section */
section {
	padding-top:var(--nav-height);
	color:  var(--main-txt-color);
}

#mainContent {
	background-color: var(--main-use-bg-color);
	margin-top: 0px;

}

.filler{

	height: 1px;
	padding-top: 1px!important;
	padding-bottom: 1px!important;
}
/*
	filtros genericos
*/
#filters {
	width: 100%;
	justify-content: center;
	display: flex;
}

#filters div {
	display: block;
	flex-grow: 1;
}


/* BOTONES */
button {
	background-color: var(--main-use-bg-color);
	border-radius: 0.05em;
	border: 0.2em solid var(--main-interactive-color);
	display: inline-block;
	cursor: pointer;
	color: var(--main-txt-color);
	font-size: 15px;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px var();
	transition: background-color 0.5s;
}

button:hover {
	transition: background-color 0.5s;
	background-color: var(--main-interactive-color);
}

button:active {
	position: relative;
	top: 1px;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-accent-bg-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-filler-color);
}


/*

-----------------------------------------------------------------------------------------------------------------------------------

*/
[class*="col-"] {
	float: left;
	padding: 15px;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	* {
		font-size: 10px;
	}
	nav{
		font-size: 12px;
	}

}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="col-"] {
		width: 100%;
	}
}