.listado{
	padding-top: 15px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.listado .item {
	flex: 1 100%;
	height: 6em;
	background-color: var(--main-accent-bg-color);
	border-top: 3px solid var(--accent-color-1);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
.listado .item:hover{
	border-left: 8px solid var(--accent-color-2);
	transition: border 0.3s;
}

.listado .item * {
	flex-grow: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2%;
}
.listado .item * p {
	font-size: 0.8em;
}
.listado .item div img{
	width: auto;
	object-fit: contain;
	display: block;
	margin: auto;
	max-width: 100%;
}
.listado .item .descripcion {
	height: auto;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	justify-content: center
}
.listado .item .descripcion p{
    margin: 2% 5% 2% 8.5%;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}